{% extends "home/base.html" %}
{% load lookup static %}

{% block title %}参加可否記入 - 都合くん「この日空いてますか。」{% endblock title %}

{% block content %}
<script>
$(function () {
    $('#sanka_kahi_area').on('shown.bs.collapse', function () {
        var element = document.documentElement;
        var bottom = element.scrollHeight - element.clientHeight;
        window.scroll(0, bottom);
    })

    $(".rightBottomFixed").click(function(){
        $('html,body').animate({'scrollTop':0},500);
    });
});




</script>
<div class=" row d-flex justify-content-center my-5">
    <div class="col-sm-10">
        <div class="card rounded">
            <div class="card-body">
                <h4 class="card-title">{{ event_name }}</h4>
                <p class="card-text">{{ event_memo }}</p>
                <h6 class="card-title">イベント日時候補</h6>
                <table class="table table-striped table-hover mb-5">
                    <thead class="thead-light">
                    <tr>
                        <th>日程</th>
                        <th>○</th>
                        <th>△</th>
                        <th>✕</th>
                        {% for event_sankasha_name in event_sankasha_names %}
                        <th>{{ event_sankasha_name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for event_sanka_table_dict in event_sanka_table_dict_list %}
                    <tr>
                        <th>{{ event_sanka_table_dict.nichiji }}</th>
                        <td>{{ event_sanka_table_dict.maru }}</td>
                        <td>{{ event_sanka_table_dict.sankaku }}</td>
                        <td>{{ event_sanka_table_dict.batsu }}</td>
                        {% for event_sankasha_name in event_sankasha_names %}
                        <td>{{ event_sanka_table_dict|lookup:event_sankasha_name }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <th>コメント</th>
                        <td colspan="3"></td>
                        {% for event_sankasha_comment in event_sankasha_comments %}
                        <td>{{ event_sankasha_comment }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>

                <p>
                    <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#sanka_kahi_area"
                       role="button"
                       aria-expanded="false" aria-controls="sanka_kahi_area">
                        参加可否を入力する
                    </a>
                </p>

                <div class="collapse mt-5" id="sanka_kahi_area">
                    <div class="card card-body">
                        <form>
                            <div class="form-group">
                                <label for="sankasha_name">名前</label>
                                <input type="text" class="form-control" id="sankasha_name" name="sankasha_name"
                                       aria-describedby="sankashaNameHelp" placeholder="名前・ニックネーム">
                                <small id="sankashaNameHelp" class="form-text text-muted">絵文字は入れられません。</small>
                            </div>
                            <div class="form-group">
                                <label for="sankasha_name">コメント</label>
                                <input type="text" class="form-control" id="sanka_kahi_comment"
                                       name="sanka_kahi_comment"
                                       aria-describedby="sankashaCommentHelp" placeholder="コメント・言い訳・感謝、何でもどうぞ。">
                            </div>
                            <button type="submit" class="btn btn-primary">出欠を回答する</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="rightBottomFixed"><img src="{% static 'home/img/page_top.png' %}"></div>

{% endblock content %}