{% extends "home/base.html" %}
{% load bootstrap4 %}

{% block title %}イベントの編集{% endblock title %}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">イベントの編集</h4>
    {% if event_id %}
    <form action="{% url 'home:event_mod' event_id=event_id %}" method="post">
    {% else %}
    <form action="{% url 'home:event_add' %}" method="post">
    {% endif %}
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-primary">送信</button>
        </div>
      </div>
    </form>
    <a href="{% url 'home:event_list' %}" class="btn btn-secondary btn-sm">戻る</a>
{% endblock content %}
