{% extends "home/base.html" %}

{% block title %}参加可否記入 - 都合くん「この日空いてますか。」{% endblock title %}

{% block content %}
<form action="{% url 'home:schedule_fill' %}" method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-group">
                <!--                <label for="eventName">イベント名</label>-->
                <!--                <input type="text" class="form-control" id="eventName" placeholder="イベント名">-->
                イベント名
            </div>
            <div class="form-group">
                候補日時
                <!--                <label for="eventDateTime">候補日時</label>-->
                <!--                <textarea class="form-control" id="eventDateTime" rows="5"></textarea>-->
            </div>
            <div class="form-group">
                イベントメモ
                <!--                <label for="memo">イベントメモ</label>-->
                <!--                <textarea class="form-control" id="memo" rows="5"></textarea>-->
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">参加可否を回答する</button>

</form>
{% endblock content %}