{% extends "home/base.html" %}
{% load filter static %}

{% block title %}参加可否記入 - 都合くん「この日空いてるっすか。」{% endblock title %}

{% block content %}
<script>
$(function () {
    $('#sanka_kahi_area').on('shown.bs.collapse', function () {
        $("html,body").animate({scrollTop:$('#sanka_kahi_area').offset().top});
    })

    $('a.event_sankashamei_link').click(function(){
        var eventSankashaInfo = $(this).next().val();
        var eventSankashaInfos = eventSankashaInfo.split(',');
        // '参加者1ID,参加者1名前,参加者1のコメント,参加日時1のイベント候補日時のID,参加者1の参加日時1の参加可否,参加日時2のイベント候補日時のID,参加者1の参加日時2の参加可否,…'

        var sankashaId = eventSankashaInfos[0]; // 参加者ID
        var sankashaName = eventSankashaInfos[1]; // 参加者名
        var comment = eventSankashaInfos[2]; // コメント

        $('#sankasha_name').val(sankashaName);
        $('#sankasha_id').val(sankashaId);
        $('#comment').val(comment);

        // 参加可否radioフォームをクリックさせるループ
        for(let i = 3; i < eventSankashaInfos.length; i = i + 2) {
            var kouhoNichiziId = eventSankashaInfos[i];
            var sankaKahi = eventSankashaInfos[i+1];
            $('input[name=event_nichizi_kouho_id_' + kouhoNichiziId +']').val([sankaKahi]);
        }

        // 参加可否回答フォームを開く
        // 開いている状態（class属性にshowがある状態）は遷移する。
        // 開いていない状態（class属性にshowがない状態）はオープンする。
        if($('#sanka_kahi_area').is('[class*="show"]')){
            $("html,body").animate({scrollTop:$('#sanka_kahi_area').offset().top});
        } else {
            $('#sanka_kahi_area').collapse('show');
        }
    });

    if($('#sanka_kahi_area_open').val() === 'true') {
        $('#sanka_kahi_area').collapse('show');
    }
});


</script>
<div class=" row d-flex justify-content-center my-5">
    <div class="col-sm-10">
        <div class="card rounded">
            <div class="card-body">
                <div class="float-right">
                    <a href="{% url 'home:event_edit_prepare' %}?key={{ schedule_update_id }}" class="btn btn-outline-primary">
                        イベント内容を編集する
                    </a>
                </div>
                <h4 class="card-title">{{ event_name }}</h4>
                <p class="card-text">{{ event_memo }}</p>
                <h6 class="card-title">イベント日時候補</h6>
                <div class="table-responsive">
                    <table id="nichizi_kouho_table" class="table table-hover table-bordered mb-5">
                        <thead class="thead-light">
                        <tr>
                            <th>日程</th>
                            <th>○</th>
                            <th>△</th>
                            <th>✕</th>
                            {% for event_sankasha_name, event_sankasha_info in event_sankasha_dict.items %}
                            <th>
                                <div>
                                    <a class="event_sankashamei_link">{{ event_sankasha_name }}</a>
                                    <input type="hidden" value="{{ event_sankasha_info }}">
                                </div>
                            </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for event_sanka_table_dict in event_sanka_table_dict_list %}
                        <tr>
                            <th>{{ event_sanka_table_dict.nichiji }}</th>
                            <td>{{ event_sanka_table_dict.maru }}</td>
                            <td>{{ event_sanka_table_dict.sankaku }}</td>
                            <td>{{ event_sanka_table_dict.batsu }}</td>
                            {% for event_sankasha_name in event_sankasha_dict.keys %}
                            <td>
                                <div>
                                    {{ event_sanka_table_dict|lookup:event_sankasha_name|to_symbol }}
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        <tr>
                            <th>コメント</th>
                            <td colspan="3"></td>
                            {% for event_sankasha_comment in event_sankasha_comments %}
                            <td style="text-align: center; max-width:100px;">{{ event_sankasha_comment }}</td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>

                <p>
                    <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#sanka_kahi_area"
                       role="button"
                       aria-expanded="false" aria-controls="sanka_kahi_area">
                        参加可否を入力する
                    </a>
                </p>

                <div class="collapse mt-5" id="sanka_kahi_area">
                    <div class="card card-body">
                        <form action="{% url 'home:schedule_fill' %}" method="post">
                            <div class="form-row">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                <input type="hidden" name="key" value="{{ schedule_update_id }}">
                                <input type="hidden" id="sankasha_id" name="sankasha_id" value="">
                                <input type="hidden" id="jsoned_params" name="jsoned_params"
                                       value="{{ jsoned_params }}">
                                <input type="hidden" id="sanka_kahi_area_open" name="sanka_kahi_area_open"
                                       value="{{ sanka_kahi_area_open }}">
                            </div>
                            <div class="form-group">
                                <label for="sankasha_name" class="hissu">名前</label>
                                <input type="text" class="form-control" id="sankasha_name" name="name"
                                       aria-describedby="sankashaNameHelp" placeholder="名前・ニックネーム"
                                       value="{{ form.name.value }}">
                                <small id="sankashaNameHelp" class="form-text text-muted">絵文字は入れられません。</small>
                                {{ form.name.errors }}
                            </div>
                            <div class="form-group">
                                <label>イベント日時候補</label>
                                <table id="kaitou_table" class="table table-hover table-bordered">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>日程</th>
                                        <th>○（出席）</th>
                                        <th>△（微妙）</th>
                                        <th>✕（欠席）</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for event_sanka_fill_table_dict in event_sanka_fill_table_dict_list %}
                                    {% comment %}
                                    <!-- ===========================================================================
                                    ----------------------------
                                    event_sanka_fill_table_dict 形式
                                    ----------------------------
                                    nichiji: イベント日時候補文字列（例：X月Y日Z時）
                                    event_nichizi_kouho_id: イベント日時候補テーブルID
                                    selected_value: 選択肢に対応する値（1,2,3）※初期表示は0。
                                    ================================================================================ -->
                                    {% endcomment %}
                                    <tr>
                                        <th>{{ event_sanka_fill_table_dict.nichiji }}</th>
                                        <td>
                                            <input class="form-check-input centered-radio" type="radio"
                                                   name="event_nichizi_kouho_id_{{ event_sanka_fill_table_dict.event_nichizi_kouho_id }}"
                                                   id="event_nichizi_kouho_id_{{ event_sanka_fill_table_dict.event_nichizi_kouho_id }}"
                                                   value="1"
                                                   {% ifequal event_sanka_fill_table_dict.selected_value "1" %}
                                            checked
                                            {% endifequal %}>
                                        </td>
                                        <td>
                                            <input class="form-check-input centered-radio" type="radio"
                                                   name="event_nichizi_kouho_id_{{ event_sanka_fill_table_dict.event_nichizi_kouho_id }}"
                                                   id="event_nichizi_kouho_id_{{ event_sanka_fill_table_dict.event_nichizi_kouho_id }}"
                                                   value="2"
                                                   {% ifequal event_sanka_fill_table_dict.selected_value "2" %}
                                            checked
                                            {% endifequal %}>
                                        </td>
                                        <td>
                                            <input class="form-check-input centered-radio" type="radio"
                                                   name="event_nichizi_kouho_id_{{ event_sanka_fill_table_dict.event_nichizi_kouho_id }}"
                                                   id="event_nichizi_kouho_id_{{ event_sanka_fill_table_dict.event_nichizi_kouho_id }}"
                                                   value="3"
                                                   {% ifequal event_sanka_fill_table_dict.selected_value "3" %}
                                            checked
                                            {% endifequal %}>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <label for="comment">コメント</label>
                                <input type="text" class="form-control" id="comment" value="{{ form.comment.value }}"
                                       name="comment" placeholder="コメント・言い訳・感謝、何でもどうぞ。">
                            </div>
                            <div class="form-group d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary px-5">出欠を回答する</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock content %}