{% extends "home/base.html" %}

{% block title %}イベント追加完了 - 都合くん「この日空いてるっすか。」{% endblock title %}

{% block content %}
<div class=" row d-flex justify-content-center my-5">
    <div class="col-sm-10">
        <div class="card rounded">
            <div class="card-body">

                <div class="form-group">
                    <label for="schedule_fill_url">イベントページURL</label>
                    <input type="text" class="form-control" id="schedule_fill_url" value="{{ schedule_fill_url }}"
                           readonly>
                </div>
                <div class="form-group d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary" onclick="clip_board_copy();return false;">
                        URLをクリップボードにコピー
                    </button>
                    <a href="{{ schedule_fill_url }}" class="btn btn-primary ml-3">イベントページへ移動する</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	function clip_board_copy(){
	    var schedule_fill_url = document.getElementById('schedule_fill_url');
        // 文字をすべて選択
        schedule_fill_url.select();
        // コピー
        document.execCommand("copy");

        alert('コピーできるようにしました。\nメール・チャット等で貼り付けてお知らせに貼り付けてご利用ください。');
	}





</script>
{% endblock content %}